<li
  hlmCard
  [id]="exercise.id"
  class="mt-3 cursor-move"
  [draggable]="!isInCalendar"
  (dragstart)="onDragStart($event)"
>
  <div hlmCardHeader class="relative">
    <h3 hlmCardTitle>{{ exercise.exerciseType | exerciseType }}</h3>
    <p hlmCardDescription>{{ exercise.weight }} lbs</p>
    <p hlmCardDescription>
      {{ exercise.setCount }}
      {{ exercise.setCount == 1 ? "set" : "sets" }} of
      {{ exercise.repCount }}
      {{ exercise.repCount == 1 ? "rep" : "reps" }}
    </p>
    @if (!isInCalendar) {
      <button
        class="absolute top-2 right-2"
        hlmBtn
        [disabled]="isLoading()"
        (click)="removeExercise(exercise.id)"
      >
        @if (isLoading()) {
          <hlm-spinner size="sm" />
        } @else {
          Delete
        }
      </button>
    }
  </div>
</li>
