<div class="flex flex-col gap-3 mt-3">
  <section class="w-full flex justify-between">
    <h3 class="font-bold text-lg">
      {{ this.calendarService.getMonthFullName() }}
      {{ this.calendarService.getYear() }}
    </h3>
    <span class="flex gap-2 items-center">
      <button hlmBtn (click)="calendarService.previousMonth()"><-</button>
      <button hlmBtn (click)="calendarService.nextMonth()">-></button>
    </span>
  </section>
  <section class="grid grid-cols-7">
    <p>Sun</p>
    <p>Mon</p>
    <p>Tue</p>
    <p>Wed</p>
    <p>Thu</p>
    <p>Fri</p>
    <p>Sat</p>
    @for (day of daysInMonthArr; track $index) {
      <app-calendar-day-square [dayNum]="day" />
    }
  </section>

  <section>
    <h3 class="font-bold text-lg">
      {{ this.calendarService.getMonthFullName() }}
      {{ this.calendarService.getDay() }}
    </h3>
  </section>
</div>
