<div class="flex flex-col gap-3 mt-3">
  <section class="w-full flex justify-between">
    <h3 class="font-semibold text-lg">
      {{ this.calendarService.getMonthFullName() }}
      {{ this.calendarService.getYear() }}
    </h3>
    <span class="flex gap-2 items-center">
      <button
        variant="outline"
        hlmBtn
        (click)="calendarService.previousMonth()"
      >
        <hlm-icon size="sm" name="lucideChevronLeft" />
      </button>
      <button variant="outline" hlmBtn (click)="calendarService.nextMonth()">
        <hlm-icon size="sm" name="lucideChevronRight" />
      </button>
    </span>
  </section>
  <section class="grid grid-cols-7">
    <p>Sun</p>
    <p>Mon</p>
    <p>Tue</p>
    <p>Wed</p>
    <p>Thu</p>
    <p>Fri</p>
    <p>Sat</p>
    @for (day of daysInMonthArr; track $index) {
      <app-calendar-day-square [dayNum]="day" />
    }
  </section>

  <section class="flex flex-col gap-1.5">
    <h3 class="font-semibold text-lg">
      {{ this.calendarService.getMonthFullName() }}
      {{ this.calendarService.getDay() }}
    </h3>
    <ul>
      @for (exercise of exercisesForActiveDay(); track exercise.id) {
        <app-calendar-exercise-card [exercise]="exercise" />
      } @empty {
        <li>
          There are no exercises set for this day. Drag an exercise on the
          calendar square to set an exercise.
        </li>
      }
    </ul>
  </section>
</div>
